*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainClass{
    margin: auto;
    margin-top: 50px;
    width: 600px;
    height: 600px;
    background-color: black;

    display: flex;
    flex-wrap: wrap;
}

.cell_odd{
    background: #228b22;
}

.cell_even{
    background: #2bb52b;
}

.snake_head{
    background: black;
}

.snake_body{
    background: cornflowerblue;
}